= link_to 'Back to camp', [:admin, @camp]

h2 Participants

= link_to 'New Participant', [:new, :admin, @camp, :participant], class: 'btn btn-primary' if can?(:new, Participant)

= render 'admin/participants/list'
