<%= link_to 'New camp', new_admin_camp_path, class: 'btn btn-primary' %>

<hr>

<ul class="list-group">
  <% @camps.each do |camp| %>
    <li class="list-group-item" style="text-align: center">
      <%= link_to camp.title, edit_admin_camp_path(camp) %>
    </li>
  <% end %>
</ul>
