<h2>Main information</h2>
<p>
  <%= link_to 'Edit camp main information', edit_admin_camp_path(@camp) %>
</p>

<h2>Schedule</h2>
<ul>
  <% @camp.day_schedules.each do |day| %>
    <li>
      <%= link_to day.date, edit_admin_day_schedule_path(day) %>
    </li>
  <% end %>
</ul>

